{% extends "index.html" %}
{% set userNameCurrent =  user %}
{% set currentRetailer = retailer %}
{% set org = ret_name %}
{% block title %}Contractor View{% endblock %}
{% block contractor_view %} 
<!-- Contractors -->
<!-- -------------------------------- -->
<section id="" class="bg bg-light border-double mt-3 mb-3 pb-3">
  <div class="bg bg-lighta">
    <div class="row">
      <div class="sec_title">
        <h6 id="select_txt">Contractors &nbsp;<span class="badge badge-pill badge-secondary">{{count_activeCon}}</span></h6>
      </div>
    </div>
    <div class="row mt-4 pl-3 pr-3">
      {% if contractorslist %}
        {% for i in contractorslist %}
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">             
            <div class="card">                        
            {% if i["account"] %}
              <button class="card-header bg bg-secondary text-light rounded text-left" data-toggle="collapse" data-target="#record{{loop.index}}" type="button">
                <div class="row">
                  <div class="col-lg-5"> <i class="fa fa-angle-down d-inline float-left"  style="font-size:1.5em"></i>&nbsp; {{i["contractor_name"]}}</div>
                  <div class="col-lg-3"># {{i["account"]}}</div>               
                      
                      
                  </div>
                </button>
              {% endif %}


                       <div id="record{{loop.index}}" class="collapse">
                        <div class="card-body"> 
                          <div class="row">

                          {% if i["address"] %} 
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-weight-bold mb-2">
                                  <i class="fa fa-address-card pt-1"></i> Address
                                </div>
                            </div>

                            <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 row mt-1">
                                    <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                      <small>Address</small>
                                    </div>
                                    <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["address"]}}</div>
                                 </div>

                                  <div class="col-lg-12 row">
                                    <div class="col-lg-4 pt-2 pb-2 border">
                                        <small>City</small>
                                    </div>
                                    <div class="col-lg-8 pt-2 pb-2 border">{{i["city"]}}</div>
                                  </div>

                            <div class="col-lg-12 row">
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                  <small>State</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["State"]}}</div>
                            </div>

                            <div class="col-lg-12 row">
                              <div class="col-lg-4 pt-2 pb-2 border">
                                  <small>Country</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border">{{i["Country"]}}</div>
                            </div>

                            <div class="col-lg-12 row">
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                  <small>Zip Code</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["zipcode"]}}</div>
                            </div>
                            </div>
                          </div>

                          

                          </div>
                      {% endif %}

                      {% if i["position"] %} 
                      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 font-weight-bold mb-2">
                              <div class="row">
                                <i class="fa fa-address-card pt-1"></i> Basic Info
                              </div>
                            </div>
                        </div>

                        <div class="row" >
                        <div class="col-lg-12">
                        
                          
                          <div class="row mt-1">
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>Position</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["position"]}}</div>
                         
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>First Name :</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["first_name"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>Last Name :</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["last_name"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>Office :</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["office"]}}</div>
                            
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>Mobile # :</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["emp_mobile_1"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>Email :</small>
                              </div>
                              <div class="col-lg-8 pt-2 pb-2 border bg bg-light">{{i["email_1"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>BG Check :</small>
                              </div>
                              <div class="col-lg-8 border">{{i["emp_background_check"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>BG Check Performed Date :</small>
                              </div>
                              <div class="col-lg-8 border">{{i["emp_bg_check_performed_date"]}}</div>
                          
                              <div class="col-lg-4 pt-2 pb-2 border bg bg-light">
                                <small>BG Check Expiration Date :</small>
                              </div>
                              <div class="col-lg-8 border">{{i["emp_bg_check_expiration_date"]}}</div>
                            </div>
                        </div>
                        </div>

                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Position</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["position"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">First Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["first_name"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Last Name</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["last_name"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Office</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["office"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Mobile #</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["emp_mobile_1"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Mobile #</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["emp_mobile_2"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Email</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["email_1"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">BG Check</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["emp_background_check"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">BG Check Performed Date</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["emp_bg_check_performed_date"]}}</div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">BG Check Expiration Date</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{i["emp_bg_check_expiration_date"]}}</div> -->
                      </div>
                      {% endif %}

                    
                    </div>
                  </div>
                </div>
              </div>                   
            </div>
        
        {% endfor %}
        {% else %}
        <div class="alert alert-danger" role="alert">
          No active contractors currently!
        </div>
        
        {% endif %}
     </div>
</section>


{% endblock %}