<!doctype html>

<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <style>
        @-ms-viewport{
          width: device-width;
        }
      </style>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='css/scroll_to_top.css')}}">
      <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
 
      <title>Central Facility Order Management - {% block title %}{% endblock %}</title>
   </head>
   <body class="d-flex flex-column min-vh-100">
    {% set userNameCurrent=  user %}
    {% set retailer_info = session['retailers'] %}
    {% set search_by = session['search_by'] %}
    
     

    <div class="container-fluid" style="position:relative">
        <!-- Navbar Section -->
        <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='images/Amarr_Black.png')}}" width="120" height="" alt="">
                <sup class="text-info">Central Facility</sup>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    {% if userNameCurrent %}
                    <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                     <!-- Dropdown -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Retailers
                      </a>
                      <div class="dropdown-menu dropdown-multicol">
                        {% for ri in retailer_info %}
                          <a class="dropdown-item" href="{{url_for('retailer', acc_id = ri['account'])}}">{{ri['program_name']}}</a>
                        {% endfor %}
                      </div>
                    </li>


                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Management Pages
                      </a>
                      <div class="dropdown-menu dropdown-multicol">
                          <a class="dropdown-item" href="{{url_for('get_contractor_list')}}">Contractor Management</a>
                          <a class="dropdown-item" href="{{url_for('get_dc_list')}}">Door Center Management</a>
                          <a class="dropdown-item" href="{{url_for('get_retailers')}}">Retailer Management</a>
                      </div>


                   <!--  <li class="nav-item">
                      <a href="{{url_for('get_contractor_list')}}" class="nav-link">Contractor Management</a>
                    </li>
                    <li class="nav-item">
                      <a href="{{url_for('get_dc_list')}}" class="nav-link">Door Center Management</a>
                    </li>
                    <li class="nav-item">
                      <a href="{{url_for('get_retailers')}}" class="nav-link">Retailer Management</a>
                    </li> -->
                    
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Global Search
                      </a>
                      <div class="dropdown-menu dropdown-multicol">
                          <a class="dropdown-item" href="{{url_for('search_page', search_type = 'Contractor')}}">Contractor</a>
                          <a class="dropdown-item" href="{{url_for('search_page', search_type = 'DC')}}">DC</a>
                        
                      </div>
                    </li>
                    
                    {% else %}
                     <li class="nav-item active">
                      <a class="nav-link" href="{{url_for('login')}}">Login <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#"  data-toggle="modal" data-target="#reset">Reset Password </a>
                    </li>

                    
{% for sb in search_by %}
            <option value="{{sb}}">{{sb}}</option>
          {% endfor %}


                    {% endif %}
                </ul>
                <span class="navbar-text">
                    <h6 class="d-inline text-info">Welcome,
                      {% if userNameCurrent %}
                        <a href="#">{{userNameCurrent}}</a> &nbsp;&nbsp;                         
                        <a href="{{url_for('logout')}}" class="d-inline btn btn-outline-info text-info">Logout &nbsp;<i class="fa fa-sign-out"></i></a>
                      {% else %}
                        <a href="#">Guest</a>
                      {% endif %}
                      </h6> 
                    
                </span>
            </div>
        </nav>


        <!-- password Reset section -->
        <div class="modal fade" tabindex="-1" id="reset">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <form method="POST" action="{{url_for('reset_password')}}">
                <div class="modal-header bg bg-secondary text-light">
                  <h5 class="modal-title">Reset Password</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-light">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="User Id" aria-label="User Id" aria-describedby="basic-addon1" id="email" name="email">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone-square"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Phone" aria-label="Phone" aria-describedby="basic-addon1" id="phone" name="phone">
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Reset</button>
                </div>
              </form>
            </div>
          </div>
        </div>

         <div class="container mt-4">
        {% with messages = get_flashed_messages() %}
           {% if messages %}
             
                 {% for message in messages %}
                 <div class="alert alert-success" id="flashMsg">
                  {{ message }}
                </div>
                 {% endfor %}
              
           {% endif %}
        {% endwith %}
        </div>
        
         {% block orderformTemp %}      {% endblock %}
         {% block formTemp %}           {% endblock %}
         {% block doorsform %}          {% endblock %}
         {% block craeteDoor %}         {% endblock %}
         {% block updateDoor %}         {% endblock %}
         {% block editTemp %}           {% endblock %}
         {% block logTemp %}            {% endblock %}
         {% block login %}              {% endblock %}
         {% block error %}              {% endblock %}
         {% block laborRate %}          {% endblock %}
         {% block contractor_view %}    {% endblock %}
         {% block dc_view %}            {% endblock %}
         {% block laborRate_summary %}  {% endblock %}
         {% block searchBy %} {% endblock %}
          
          

    </div>
    

    <footer id="bottom" class="bg bg-dark p-3 mt-auto text-center">
      <a href="#">footer contents</a>
    </footer>

      
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script> 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  <script type="text/javascript">
        (function titleScroller(title) {
            document.title = title;
            setTimeout(function () {
                titleScroller(title.substr(1) + title.substr(0, 1));
            }, 500);
        }( document.title + " || " ));
      </script>


        <script>
        $(document).ready(function(){
          $('.toast').toast({delay: 2000});
          $('.toast').toast('show');
        });
      </script>

      <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({html:true});   
      });
      </script>

      <script type="text/javascript"> 
            setTimeout(function() {
                  $('#flashMsg').remove();
            }, 3000); 
      </script>



     
   </body>
</html>