{% extends "index.html" %}
{% set userNameCurrent=  user %}
{% set retailer_info = session['retailers'] %}
{% block title %}Labor Rate Calculator{% endblock %}
{% block laborRate %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>



<section id="section1" class="container-fluid">
	<div class="row bg bg-lighta mb-3">	
		<a href="{{url_for('setBasicInformation', po_no = p_num)}}" class="btn btn-dark btn-sm float-left ml-3" ><i class="fa fa-arrow-left"></i> Go Back</a>
		<div class="sec_title">
	    	<h6>Account Payable Edit</h6>
	  	</div>
	  	

	  		<div class="col-lg-12">
	  			{% for n in col_list %} 
	  				<form class="form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 mb-4" method="POST" action="/set_labor_rate/{{n}}/{{p_num}}/{{con_id}}/" name="wform" >
	  				<div class="row ">	 
		  				<div class="bg bg-dark col-lg-12 text-left text-light pt-2 pb-2 font-weight-bold" >
			  					Collection - {{n}}
			  					<!-- <span class="float-right"><i class="fa fa-angle-down"></i></span> -->
			  			</div>
		  				<div class="col-lg-12 border">	

		  					<div id="col_{{n}}" >
		  					
		  					<div class="row">
		  						<div class="col-lg-5 border"></div>
		  						<div class="col-lg-2 border text-center font-weight-bold">Retailer Labor Rates</div>
		  						<div class="col-lg-2 border"></div>	
		  						<div class="col-lg-3 border text-center font-weight-bold">Contractor Labor Rates</div>	  						
		  					</div>
		  					<div class="row bg bg-secondary text-light">
		  						<div class="col-lg-4 border">Labor Type</div>
		  						<div class="col-lg-1 border">Quantity</div>
		  						<div class="col-lg-1 border">Unit Price</div>
		  						<div class="col-lg-1 border">Ext Price</div>
		  						<div class="col-lg-2 border">Rate Type</div>
		  						<div class="col-lg-1 border">Default Price</div>
		  						<div class="col-lg-1 border">Special Price</div>
		  						<div class="col-lg-1 border">Ext Price</div>
		  					</div>
			  			{% for lr in labor_rates %}
			  				{% if n == lr['collection_id'] and lr['labor_service1']%}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type1_{{n}}" placeholder="Labor Type / service 1"  name="labor_type1_{{n}}" value="{{lr['labor_service1']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty1_{{n}}" placeholder="Quantity"  name="qty1_{{n}}" value="{{lr['labor_service1_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice1_{{n}}" placeholder="0.00"  name="ret_uPrice1_{{n}}" value="{{lr['labor_service1_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice1_{{n}}" placeholder="Ext Price"  name="ret_uPrice1_{{n}}" value="{{lr['labor_service1_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType1_{{n}}" id="rateType1_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" onchange="check_value_type('qty1_{{n}}','rateType1_{{n}}', 'Con_default_unit_price1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}' )" {% if lr['labor_service1'] == '' %} readonly {% endif %}>
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service1_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service1_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  							
		  								
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price1_{{n}}" placeholder="0.00"  name="Con_default_unit_price1_{{n}}" value="{{lr['labor_service1_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price1_{{n}}" placeholder="0.00"  name="Con_special_unit_price1_{{n}}" value="{{lr['labor_service1_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}')" onkeypress="calc_rates('qty1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price1_{{n}}" placeholder="0.00"  name="Con_ext_price1_{{n}}" value="{{lr['labor_service1_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>

		  					{% endif %}


		  					{% if n == lr['collection_id'] and lr['labor_service2']%}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type2_{{n}}" placeholder="Labor Type / service 2"  name="labor_type2_{{n}}" value="{{lr['labor_service2']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty2_{{n}}" placeholder="Quantity"  name="qty2_{{n}}" value="{{lr['labor_service2_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice2_{{n}}" placeholder="0.00"  name="ret_uPrice2_{{n}}" value="{{lr['labor_service2_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice2_{{n}}" placeholder="Ext Price"  name="ret_uPrice2_{{n}}" value="{{lr['labor_service2_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType2_{{n}}" id="rateType2_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" onchange="check_value_type('qty2_{{n}}','rateType2_{{n}}', 'Con_default_unit_price2_{{n}}', 'Con_special_unit_price2_{{n}}','Con_ext_price2_{{n}}' )">
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service2_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service2_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price2_{{n}}" placeholder="0.00"  name="Con_default_unit_price2_{{n}}" value="{{lr['labor_service2_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  					<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price2_{{n}}" placeholder="0.00"  name="Con_special_unit_price2_{{n}}" value="{{lr['labor_service2_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty2_{{n}}', 'Con_special_unit_price2_{{n}}','Con_ext_price2_{{n}}')" onkeypress="calc_rates('qty2_{{n}}', 'Con_special_unit_price2_{{n}}','Con_ext_price2_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] and lr['labor_service2_rate_type'] == 'Default rate' %} disabled {% else %} {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price2_{{n}}" placeholder="0.00"  name="Con_ext_price2_{{n}}" value="{{lr['labor_service2_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}


		  					{% if n == lr['collection_id'] and lr['labor_service3'] %}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type3_{{n}}" placeholder="Labor Type / service 3"  name="labor_type3_{{n}}" value="{{lr['labor_service3']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty3_{{n}}" placeholder="Quantity"  name="qty3_{{n}}" value="{{lr['labor_service3_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice3_{{n}}" placeholder="0.00"  name="ret_uPrice3_{{n}}" value="{{lr['labor_service3_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice3_{{n}}" placeholder="Ext Price"  name="ret_uPrice3_{{n}}" value="{{lr['labor_service3_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType3_{{n}}" id="rateType3_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" onchange="check_value_type('qty3_{{n}}','rateType3_{{n}}', 'Con_default_unit_price3_{{n}}', 'Con_special_unit_price3_{{n}}','Con_ext_price3_{{n}}' )">
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service3_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service3_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price3_{{n}}" placeholder="0.00"  name="Con_default_unit_price3_{{n}}" value="{{lr['labor_service3_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price3_{{n}}" placeholder="0.00"  name="Con_special_unit_price3_{{n}}" value="{{lr['labor_service3_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)"  onblur="calc_rates('qty1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}')" oninput="calc_rates('qty1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}')" onchange="calc_rates('qty1_{{n}}', 'Con_special_unit_price1_{{n}}','Con_ext_price1_{{n}}')" onkeypress="calc_rates('qty3_{{n}}', 'Con_special_unit_price3_{{n}}','Con_ext_price3_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] and lr['labor_service3_rate_type'] == 'Default rate' %} disabled {% else %} {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price3_{{n}}" placeholder="0.00"  name="Con_ext_price3_{{n}}" value="{{lr['labor_service3_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}

		  					{% if n == lr['collection_id'] and lr['labor_service4'] %}	
			  	
			  				<div class="row " >
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type4_{{n}}" placeholder="Labor Type / service 4"  name="labor_type4_{{n}}" value="{{lr['labor_service4']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty4_{{n}}" placeholder="Quantity"  name="qty4_{{n}}" value="{{lr['labor_service4_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice4_{{n}}" placeholder="0.00"  name="ret_uPrice4_{{n}}" value="{{lr['labor_service4_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice4_{{n}}" placeholder="Ext Price"  name="ret_uPrice4_{{n}}" value="{{lr['labor_service4_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType4_{{n}}" id="rateType4_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" value="{{lr['labor_service4_rate_type']}}" onchange="check_value_type('qty4_{{n}}','rateType4_{{n}}', 'Con_default_unit_price4_{{n}}', 'Con_special_unit_price4_{{n}}','Con_ext_price4_{{n}}' )" {% if lr['labor_service4'] =='' %} readonly {% endif %}>
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service4_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service4_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price4_{{n}}" placeholder="0.00"  name="Con_default_unit_price4_{{n}}" value="{{lr['labor_service4_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price4_{{n}}" placeholder="0.00"  name="Con_special_unit_price4_{{n}}" value="{{lr['labor_service4_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty4_{{n}}', 'Con_special_unit_price4_{{n}}','Con_ext_price4_{{n}}')" onkeypress="calc_rates('qty4_{{n}}', 'Con_special_unit_price4_{{n}}','Con_ext_price4_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %} {% if labor_service4 == ''%} readonly {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price4_{{n}}" placeholder="0.00"  name="Con_ext_price4_{{n}}" value="{{lr['labor_service4_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}

		  					{% if n == lr['collection_id'] and lr['labor_service5'] %}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type5_{{n}}" placeholder="Labor Type / service 5"  name="labor_type5_{{n}}" value="{{lr['labor_service5']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty5_{{n}}" placeholder="Quantity"  name="qty5_{{n}}" value="{{lr['labor_service5_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice5_{{n}}" placeholder="0.00"  name="ret_uPrice5_{{n}}" value="{{lr['labor_service5_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice5_{{n}}" placeholder="Ext Price"  name="ret_uPrice5_{{n}}" value="{{lr['labor_service5_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType5_{{n}}" id="rateType5_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" value="{{lr['labor_service5_rate_type']}}" onchange="check_value_type('qty5_{{n}}','rateType5_{{n}}', 'Con_default_unit_price5_{{n}}', 'Con_special_unit_price5_{{n}}','Con_ext_price5_{{n}}' )" {% if lr['labor_service5'] =='' %} disabled {% endif %}>
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service5_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service5_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price5_{{n}}" placeholder="0.00"  name="Con_default_unit_price5_{{n}}" value="{{lr['labor_service5_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price5_{{n}}" placeholder="0.00"  name="Con_special_unit_price5_{{n}}" value="{{lr['labor_service5_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty5_{{n}}', 'Con_special_unit_price5_{{n}}','Con_ext_price5_{{n}}')" onkeypress="calc_rates('qty5_{{n}}', 'Con_special_unit_price5_{{n}}','Con_ext_price5_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price5_{{n}}" placeholder="0.00"  name="Con_ext_price5_{{n}}" value="{{lr['labor_service5_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}


		  					{% if n == lr['collection_id'] and lr['labor_service6'] %}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type6_{{n}}" placeholder="Labor Type / service 6"  name="labor_type6_{{n}}" value="{{lr['labor_service6']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty6_{{n}}" placeholder="Quantity"  name="qty6_{{n}}" value="{{lr['labor_service6_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice6_{{n}}" placeholder="0.00"  name="ret_uPrice6_{{n}}" value="{{lr['labor_service6_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice6_{{n}}" placeholder="Ext Price"  name="ret_uPrice6_{{n}}" value="{{lr['labor_service6_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType6_{{n}}" id="rateType6_{{n}}" readonly class="custom-select" data-toggle="tooltip" title="Select Rate Type" onchange="check_value_type('qty6_{{n}}','rateType6_{{n}}', 'Con_default_unit_price6_{{n}}', 'Con_special_unit_price6_{{n}}','Con_ext_price6_{{n}}' )" value="{{lr['labor_service6_rate_type']}}">
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service6_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service6_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price6_{{n}}" placeholder="0.00"  name="Con_default_unit_price6_{{n}}" value="{{lr['labor_service6_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price6_{{n}}" placeholder="0.00"  name="Con_special_unit_price6_{{n}}" value="{{lr['labor_service6_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty6_{{n}}', 'Con_special_unit_price6_{{n}}','Con_ext_price6_{{n}}')" onkeypress="calc_rates('qty6_{{n}}', 'Con_special_unit_price6_{{n}}','Con_ext_price6_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}  >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price6_{{n}}" placeholder="0.00"  name="Con_ext_price6_{{n}}" value="{{lr['labor_service6_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}



		  					{% if n == lr['collection_id'] and lr['labor_service7']%}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type7_{{n}}" placeholder="Labor Type / service 7"  name="labor_type7_{{n}}" value="{{lr['labor_service7']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty7_{{n}}" placeholder="Quantity"  name="qty7_{{n}}" value="{{lr['labor_service7_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice7_{{n}}" placeholder="0.00"  name="ret_uPrice7_{{n}}" value="{{lr['labor_service7_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice7_{{n}}" placeholder="Ext Price"  name="ret_uPrice7_{{n}}" value="{{lr['labor_service7_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							<select name="rateType7_{{n}}" id="rateType7_{{n}}" class="custom-select" data-toggle="tooltip" title="Select Rate Type" value="{{lr['labor_service7_rate_type']}}" onchange="check_value_type('qty7_{{n}}','rateType7_{{n}}', 'Con_default_unit_price7_{{n}}', 'Con_special_unit_price7_{{n}}','Con_ext_price7_{{n}}' )" {% if lr['labor_service7'] == '' %} readonly {% endif %} readonly>
									    <option selected value="">Rate Type</option>
									    <option value="Default Rate" {% if lr['labor_service7_rate_type'] == 'Default Rate' %} selected {% endif %}>Default Rate</option>
									    <option value="Special Rate" {% if lr['labor_service7_rate_type'] == 'Special Rate' %} selected {% endif %}>Special Rate</option>
									</select>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price7_{{n}}" placeholder="0.00"  name="Con_default_unit_price7_{{n}}" value="{{lr['labor_service7_con_unit_price']}}" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price7_{{n}}" placeholder="0.00"  name="Con_special_unit_price7_{{n}}" value="{{lr['labor_service7_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty7_{{n}}', 'Con_special_unit_price7_{{n}}','Con_ext_price7_{{n}}')" onkeypress="calc_rates('qty7_{{n}}', 'Con_special_unit_price7_{{n}}','Con_ext_price7_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] and lr['labor_service7_rate_type'] == 'Default rate' %} disabled {% else %} {% endif %} >
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price7_{{n}}" placeholder="0.00"  name="Con_ext_price7_{{n}}" value="{{lr['labor_service7_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}

		  					
		  					{% if n == lr['collection_id'] and lr['labor_service8']%}	
			  					<div class="row">
		  						<div class="col-lg-12 border-bottom font-weight-bold bg-light">Special Labor rates</div>
		  					</div>
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type8_{{n}}" placeholder="Special Labor Type / service 1"  name="labor_type8_{{n}}" value="{{lr['labor_service8']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty8_{{n}}" placeholder="Quantity"  name="qty8_{{n}}" value="{{lr['labor_service8_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice8_{{n}}" placeholder="0.00"  name="ret_uPrice8_{{n}}" value="{{lr['labor_service8_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice8_{{n}}" placeholder="Ext Price"  name="ret_uPrice8_{{n}}" value="{{lr['labor_service8_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							
		  								<input type="text" class="form-control mb-1" id="rateType8_{{n}}" placeholder="Special Rate"  name="rateType8_{{n}}" value="Special Rate" data-toggle="tooltip" title="Rate type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price8_{{n}}" placeholder=""  name="Con_default_unit_price8_{{n}}" value="" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price8_{{n}}" placeholder="0.00"  name="Con_special_unit_price8_{{n}}" value="{{lr['labor_service8_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty8_{{n}}', 'Con_special_unit_price8_{{n}}','Con_ext_price8_{{n}}')" onkeypress="calc_rates('qty8_{{n}}', 'Con_special_unit_price8_{{n}}','Con_ext_price8_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price8_{{n}}" placeholder="0.00"  name="Con_ext_price8_{{n}}" value="{{lr['labor_service8_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}



		  					{% if n == lr['collection_id'] and lr['labor_service9'] %}
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type9_{{n}}" placeholder="Special Labor Type / service 2"  name="labor_type9_{{n}}" value="{{lr['labor_service9']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty9_{{n}}" placeholder="Quantity"  name="qty9_{{n}}" value="{{lr['labor_service9_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice9_{{n}}" placeholder="0.00"  name="ret_uPrice9_{{n}}" value="{{lr['labor_service9_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice9_{{n}}" placeholder="Ext Price"  name="ret_uPrice9_{{n}}" value="{{lr['labor_service9_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							
		  								<input type="text" class="form-control mb-1" id="rateType9_{{n}}" placeholder="Special Rate"  name="rateType9_{{n}}" value="Special Rate" data-toggle="tooltip" title="Rate type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price9_{{n}}" placeholder=""  name="Con_default_unit_price9_{{n}}" value="" data-toggle="tooltip" title="Default Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price9_{{n}}" placeholder="0.00"  name="Con_special_unit_price9_{{n}}" value="{{lr['labor_service9_con_special_price']}} " data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty9_{{n}}', 'Con_special_unit_price9_{{n}}','Con_ext_price9_{{n}}')" onkeypress="calc_rates('qty9_{{n}}', 'Con_special_unit_price9_{{n}}','Con_ext_price9_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price9_{{n}}" placeholder="0.00"  name="Con_ext_price9_{{n}}" value="{{lr['labor_service9_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}



		  					{% if n == lr['collection_id'] and lr['labor_service10']%}	
			  				
			  				<div class="row ">
			  					
		  						<div class="col-lg-4 border pt-1">
		  							<input type="text" class="form-control mb-1" id="labor_type10_{{n}}" placeholder="Special Labor Type / service 3"  name="labor_type10_{{n}}" value="{{lr['labor_service10']}}" data-toggle="tooltip" title="Labor type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="qty10_{{n}}" placeholder="Quantity"  name="qty10_{{n}}" value="{{lr['labor_service10_quantity']}}" data-toggle="tooltip" title="Quantity" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_uPrice10_{{n}}" placeholder="0.00"  name="ret_uPrice10_{{n}}" value="{{lr['labor_service10_unit_price']}}" data-toggle="tooltip" title="Retailer Labor Unit Price" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="ret_ePrice10_{{n}}" placeholder="Ext Price"  name="ret_uPrice10_{{n}}" value="{{lr['labor_service10_extended_price']}}" data-toggle="tooltip" title="Retailer Labor Extended Price" readonly>
		  						</div>
		  						<div class="col-lg-2 border pt-1">
		  							
		  								<input type="text" class="form-control mb-1" id="rateType10_{{n}}" placeholder="Special Rate"  name="rateType10_{{n}}" value="{{lr['labor_service10_rate_type']}}" data-toggle="tooltip" title="Rate type" readonly>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_default_unit_price10_{{n}}" placeholder=""  name="Con_default_unit_price10_{{n}}" value="" data-toggle="tooltip" title="Default Unit Price" disabled>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_special_unit_price10_{{n}}" placeholder="0.00"  name="Con_special_unit_price10_{{n}}" value="{{lr['labor_service10_con_special_price']}}" data-toggle="tooltip" title="Special Unit Price" onchange="setDecimal(this)" onblur="calc_rates('qty10_{{n}}', 'Con_special_unit_price10_{{n}}','Con_ext_price10_{{n}}')" onkeypress="calc_rates('qty10_{{n}}', 'Con_special_unit_price10_{{n}}','Con_ext_price10_{{n}}')"  autocomplete="off"  max="50000000" step="0.01" {% if lr['labor_id'] %} disabled {% else %} {% endif %}>
		  						</div>
		  						<div class="col-lg-1 border pt-1">
		  							<input type="text" class="form-control mb-1" id="Con_ext_price10_{{n}}" placeholder="0.00"  name="Con_ext_price10_{{n}}" value="{{lr['labor_service10_con_ext_price']}}" data-toggle="tooltip" title="Extended Price" autocomplete="off"  max="50000000" step="0.01" readonly >
		  						</div>
		  					</div>
		  					{% endif %}



			  			{% endfor %}
			  			<div class="row pt-2 mb-2 float-right mr-0">
								<button type="submit" value="Update" class="d-inline btn btn-info btn-sm">Update</button>
							</div>
			  				
		  					</div>
			  			</div>
			  		</div>
			  		
					</form>
	  			{% endfor %}
	  		</div>
	  		


	  		<!-- <fieldset  class="col-lg-12 sec1 mt-3" id="rtlrInfo">
	  		<div class="row">
            <legend class="ml-3">Contractor Labor Rates</legend>
            
			<div class="col-lg-12 mt-2 mb-4 form-group">
				<div class="row bg bg-dark text-light">
					<div class="col-lg-7 border">Labor Type</div>
					<div class="col-lg-1 border">Qty</div>
					<div class="col-lg-2 border">Unit Price</div>
					<div class="col-lg-2 border">Ext Price</div>
				</div>

				<div class="row">
					<div class="col-lg-7 border"></div>
					<div class="col-lg-1 border"></div>
					<div class="col-lg-2 border"></div>
					<div class="col-lg-2 border"></div>
				</div>
			</div>
			</div>
			</fieldset> -->
			
		


				


		
	</div>
</section>

<!-- set 2 values after decimal point -->
<script>
  function setDecimal(input) {
      input.value = parseFloat(input.value).toFixed(2);
  }  
</script>


<script>

	function check_value_type(var1, var2, var3, var4, var5){
		var qty = $("#"+var1).val();
		var e = $("#"+var2);
		var rateType = e.val();
		var dPrice = $("#"+var3).val();
		var sPrice = $("#"+var4);
		var ePrice = $("#"+var5);
		var sPrice_val = 0;
		var total = 0;
		/*print variables*/

		/*choose based on Labor Rate Type*/
		if(rateType == 'Default Rate'){
			total = qty*dPrice;
			ePrice.val(total.toFixed(2));
			if ( !sPrice.is( ":disabled") ) { 
				sPrice.val('');
				sPrice.prop('disabled', true);
			}
		}
		else if(rateType == 'Special Rate'){
			sPrice.prop('disabled', false);
			sPrice.focus();
			sPrice_val = sPrice.val();
			sPrice.on("input",function(){
				sPrice.val(isNaN(sPrice.val()) ? '' : sPrice.val());
				total = isNaN(qty*sPrice.val()) ? 0.0 : (qty*sPrice.val()) ; 
				ePrice.val(total.toFixed(2)); 
		    });  

		}
		else if(rateType == ''){
			sPrice.prop('disabled', true);
			total = 0.0;
			ePrice.val(total.toFixed(2)); 
		}
	}


	function calc_rates(qty, sp_rate, ext_price){
		var qty1 = $('#'+qty).val();
		var sp_rate1 = $('#'+sp_rate);
		var ext_price1 = $('#'+ext_price)
		var total2 = 0;

		sp_rate1.val(isNaN(sp_rate1.val()) ? '' : sp_rate1.val());
		total2 = isNaN(qty1*sp_rate1.val()) ? 0 : qty1*sp_rate1.val(); 
		ext_price1.val(total2.toFixed(2)); 
		
	    
	}


</script>






{% endblock %}
