{% extends "index.html" %}
{% block doorsform %}  

 <form id="addDoor" class="form-horizontal col-xs-12 col-lg-12 col-md-12 col-sm-12" method="POST" action="{{url_for('update_adddoors_records')}}"name="wform" >
 	
              <!-- Order Information -->
              <fieldset  class="row sec1">
                   <legend  class="ml-3">Door Specification & Pricing</legend>
                    <div class="form-group col-lg-6 col-sm-12">
                    <!-- <label for="Ponumber" class="">Po No</label> -->
                   <input type="text" class="form-control mb-1" id="doorspecid"  value="{{pono}}" name="doorspecid" readonly="true">
                  </div>
                   
                     <div class="form-group col-lg-6 col-sm-12">
                    <!-- <label for="Ponumber" class="">Po No</label> -->
                   <input type="number" class="form-control mb-1" id="retailerPonum"  value="{{pono}}" name="retailerPonum" readonly="true">
                  </div>
              
              </fieldset>
                      <!-- Door Size -->
              <fieldset  class="row sec1">
                  <legend class="ml-3">Door Size : </legend>
                  <div class="form-group col-lg-2 col-sm-12">
                     <!--  <label for="number" class="">Weight</label> -->
                      <input type="text" class="form-control mb-1" id="dsweight" placeholder="Weight"  name="dsweight">
                  </div>
                  
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="height" class="">Height</label> -->
                    <input type="text" class="form-control mb-1" id="dsheight" placeholder="Height"  name="dsheight">
                  </div>  
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="dsquantity" placeholder="quantity"  name="dsquantity">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit price</label> -->
                    <input type="text" class="form-control mb-1" id="dsuprice" placeholder="unit price"  name="dsuprice">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extprice" class="">Extented price</label> -->
                    <input type="text" class="form-control mb-1" id="dsuprice" placeholder="Extented price"  name="dsextprice">
                 </div>
                  </fieldset>
                <fieldset class="row sec1 mt-2 mb-2">
                   <div class="form-group col-lg-6 col-sm-12">
                    <input type="text" class="form-control mb-1" id="doormodel" placeholder="Door Model"  name="doormodel">
                  </div>
                
                  <div class="form-group col-lg-6 col-sm-12">
                    <input type="text" class="form-control mb-1" id="stampdegn" placeholder="Stamp design"  name="stampdegn">
                  </div>
                </fieldset>
                  <!-- Windload -->
                  <fieldset  class="row sec1">
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="windload" class="">WindLoad</label> -->
                    <input type="text" class="form-control mb-1" id="windload" placeholder="Windload"  name="windload">
                  </div>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="wluprice" placeholder="unit price"  name="wluprice">
                  </div>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="wlextprice" placeholder="extended price"  name="wlextprice">
                  </div>
                </fieldset>

                  <!-- Color -->
                  <fieldset  class="row sec1">
                 
                  <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="color" class="">Color</label> -->
                    <input type="text" class="form-control mb-1" id="color" placeholder="Color"  name="color">
                  </div>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="clruprice" placeholder="unit price"  name="clruprice">
                  </div>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="clrextprice" placeholder="extended price"  name="clrextprice">
                  </div>
                </fieldset>
                  

                  <!-- Glass type -->
                  <fieldset  class="row sec1">
                  
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="glass" class="">Glass Type</label> -->
                    <input type="text" class="form-control mb-1" id="glasstype" placeholder="Glass Type"  name="glasstype">
                  </div>
                   <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="glasstypequantity" placeholder="quantity"  name="glasstypequantity">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="glassuprice" placeholder="unit price"  name="glassuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="glassextprice" placeholder="extended price"  name="glassextprice">
                  </div>
                </fieldset>

                  <!--Glass Comments-->
                <fieldset  class="row sec1">
                  <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="unitprice" class="">Glass Comments</label> -->
                    <input type="text" class="form-control mb-1" id="glasscomments" placeholder="Glass Comments"  name="glasscomments">
                  </div>
                   <!-- Mosaic Glazing Instructions -->
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="unitprice" class="">Mosaic Glazing Instructions</label> -->
                    <input type="text" class="form-control mb-1" id="mosglzins" placeholder="Mosaic Glazing Instructions"  name="mosglzins">
                  </div>
                  <!-- Spring Type -->
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="unitprice" class="">Spring Type</label> -->
                    <input type="text" class="form-control mb-1" id="springtype" placeholder="Spring Type"  name="springtype">
                  </div>
                 
                </fieldset>

                  <!-- Decra Trim -->
                  <fieldset  class="row sec1">
                 
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="DecraTrim" class="">Decra Trim</label> -->
                    <input type="text" class="form-control mb-1" id="decatrim" placeholder="DecraTrim"  name="decatrim">
                  </div>
                   <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="decratrimquantity" placeholder="quantity"  name="decratrimquantity">
                  </div>
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="decatrimuprice" placeholder="unit price"  name="decatrimuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="decatrimextprice" placeholder="extended price"  name="decatrimextprice">
                  </div>
                </fieldset>

                  <!-- Decorative Handles -->
                  <fieldset  class="row sec1">
                  <legend class="ml-3">Decorative Hardware</legend>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="DecraTrim" class="">Decorative Handles</label> -->
                    <input type="text" class="form-control mb-1" id="decohandles" placeholder="Decorative Hardware - Blue Ridge Handles"  name="decohandles">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="hanquantity" placeholder="quantity"  name="hanquantity">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="hanuprice" placeholder="unit price"  name="hanuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="hanextprice" placeholder="extended price"  name="hanextprice">
                  </div>
                  <!-- Decorative Hinges -->
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="DecraTrim" class="">Decorative Hinges</label> -->
                    <input type="text" class="form-control mb-1" id="decohinges" placeholder="Decorative Hardware - Blue Ridge Hinges"  name="decohinges">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="hinquantity" placeholder="quantity"  name="hinquantity">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="hinuprice" placeholder="unit price"  name="hinuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="hinextprice" placeholder="extended price"  name="hinextprice">
                  </div>
                  <!-- Decorative Hardware -->
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="DecraTrim" class="">Decorative Hardware</label> -->
                    <input type="text" class="form-control mb-1" id="decohinges" placeholder="Other Decorative Hardware"  name="otherhardware">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="othhwquantity" placeholder="quantity"  name="othhwquantity">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="hinuprice" placeholder="unit price"  name="othhwuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="othhwextprice" placeholder="extended price"  name="othhwextprice">
                  </div>
                </fieldset>
             

                  <!-- Vinyl T-Stop-->
                  <fieldset  class="row sec1">
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="vinyltstop" class="">Vinyl T-Stop</label> -->
                    <input type="text" class="form-control mb-1" id="decohinges" placeholder="Vinyl T-Stop / Perimeter Seal"  name="vintstop">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="vintstopquan" placeholder="quantity"  name="vintstopquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="hinuprice" placeholder="unit price"  name="vintstopuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="vintstopextprice" placeholder="extended price"  name="vintstopextprice">
                  </div>
                </fieldset>

                  <!-- Track type-->
                  <fieldset  class="row sec1">
                   <div class="form-group col-lg-4 col-sm-12">
                    <input type="text" class="form-control mb-1" id="tracktype" placeholder="Track Type"  name="tracktype">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="tracktypequan" placeholder="quantity"  name="tracktypequan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="tracktypeuprice" placeholder="unit price"  name="tracktypeuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="tracktypeextprice" placeholder="extended price"  name="tracktypeextprice">
                  </div>
                </fieldset>

                   <!-- Horizontal radius-->
                    <fieldset  class="row sec1 mt-2">
                   <div class="form-group col-lg-6 col-sm-12">
                    <input type="text" class="form-control mb-1" id="horirad" placeholder="Horizontal Radius"  name="horirad">
                  </div>
                   <!-- Bracket Mount-->
                   <div class="form-group col-lg-6 col-sm-12">
                    <input type="text" class="form-control mb-1" id="bracketmount" placeholder=" Bracket Mount or Angle Mount"  name="bracketmount">
                  </div>
                </fieldset>
                  <!-- <fieldset  class="row sec1">
                    <div class="form-group col-lg-12 col-sm-12">
                     
                    </div>
                  </fieldset> -->
                  <!-- Lock Type -->
                  <fieldset  class="row sec1">
                  <legend class="ml-3">Other Door Options</legend>
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="locktype" class="">Lock Type</label> -->
                    <input type="text" class="form-control mb-1" id="locktype" placeholder="Lock type"  name="locktype">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                   <!--  <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="locktypequan" placeholder="quantity"  name="locktypequan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="locktypeuprice" placeholder="unit price"  name="locktypeuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="locktypeextprice" placeholder="extended price"  name="locktypeextprice">
                  </div>
                </fieldset>

                  <!-- Punched Angle -->
                  <fieldset  class="row sec1">
                 
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="punchedangle" class="">Punched Angle</label> -->
                    <input type="text" class="form-control mb-1" id="punchedangle" placeholder="Punched Angle"  name="punchedangle">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="punchedanglequan" placeholder="quantity"  name="punchedanglequan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="punchedangleuprice" placeholder="unit price"  name="punchedangleuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="punchedangleextprice" placeholder="extended price"  name="punchedangleextprice">
                  </div>
                </fieldset>

                <!-- Additional Struts -->
                  <fieldset  class="row sec1">
                 
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="addstruts" class="">Additional Struts</label> -->
                    <input type="text" class="form-control mb-1" id="addstruts" placeholder="Additional Struts"  name="addstruts">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="addstrutsquan" placeholder="quantity"  name="addstrutsquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="addstrutsuprice" placeholder="unit price"  name="addstrutsuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                   <!--  <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="addstrutsextprice" placeholder="extended price"  name="addstrutsextprice">
                  </div>
                </fieldset>

                 <!-- Winding Bars -->
                  <fieldset  class="row sec1">
                  
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="winbars" class="">Winding Bars</label> -->
                    <input type="text" class="form-control mb-1" id="winbars" placeholder=" Winding Bars/Winding Device"  name="winbars">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="winbarsquan" placeholder="quantity"  name="winbarsquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="winbarsuprice" placeholder="unit price"  name="winbarsuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="winbarsextprice" placeholder="extended price"  name="winbarsextprice">
                  </div>
                </fieldset>

                 <!-- Other Door Accessories -->
                  <fieldset  class="row sec1">
                 
                   <div class="form-group col-lg-4 col-sm-12">
                   <!--  <label for="othdooraccs" class="">Other Door Accessories</label> -->
                    <input type="text" class="form-control mb-1" id="othdooraccs" placeholder="Other Door Accessories"  name="othdooraccs">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="othdooraccssquan" placeholder="quantity"  name="othdooraccssquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="othdooraccsuprice" placeholder="unit price"  name="othdooraccsuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="othdooraccsextprice" placeholder="extended price"  name="othdooraccsextprice">
                  </div>
                </fieldset>

                 <!-- Opener Model -->
                  <fieldset  class="row sec1">
                  
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="openermod" class="">Opener Model</label> -->
                    <input type="text" class="form-control mb-1" id="openermod" placeholder="Opener Model"  name="openermod">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="openermodquan" placeholder="quantity"  name="openermodquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="openermoduprice" placeholder="unit price"  name="openermoduprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                   <!--  <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="openermodextprice" placeholder="extended price"  name="openermodextprice">
                  </div>
                </fieldset>

                 <!-- Opener Accessories -->
                  <fieldset  class="row sec1">
                  
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="openeracc" class="">Opener Accessories</label> -->
                    <input type="text" class="form-control mb-1" id="openeracc" placeholder="Opener Accessories"  name="openeracc">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                  <!-- <label for="quantity" class="">Quantity</label>
                    -->                      
                  <input type="text" class="form-control mb-1" id="openeraccquan" placeholder="quantity"  name="openeraccquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="openeraccuprice" placeholder="unit price"  name="openeraccuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="openeraccextprice" placeholder="extended price"  name="openeraccextprice">
                  </div>
                </fieldset>

                 <!-- Operator Bracket -->
                  <fieldset  class="row sec1">
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="opbracket" class="">Operator Bracket</label> -->
                    <input type="text" class="form-control mb-1" id="opbracket" placeholder="Operator Bracket"  name="opbracket">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="opbracketquan" placeholder="quantity"  name="opbracketquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="opbracketuprice" placeholder="unit price"  name="opbracketuprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="opbracketextprice" placeholder="extended price"  name="opbracketextprice">
                  </div>
                </fieldset>

                <!-- Other Opener Accessories -->
                  <fieldset  class="row sec1">
                 
                   <div class="form-group col-lg-4 col-sm-12">
                    <!-- <label for="otheroepnaccsr" class="">Other Opener Accessories</label> -->
                    <input type="text" class="form-control mb-1" id="otheroepnaccsr" placeholder="Other Opener Accessories"  name="otheroepnaccsr">
                  </div>
                  <div class="form-group col-lg-2 col-sm-12">
                    <!-- <label for="quantity" class="">Quantity</label> -->
                      <input type="text" class="form-control mb-1" id="otheroepnaccsrquan" placeholder="quantity"  name="otheroepnaccsrquan">
                  </div> 
                  <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="unitprice" class="">Unit Price</label> -->
                    <input type="text" class="form-control mb-1" id="otheroepnaccsruprice" placeholder="unit price"  name="otheroepnaccsruprice">
                  </div>
                   <div class="form-group col-lg-3 col-sm-12">
                    <!-- <label for="extendedprice" class="">Extented Price</label> -->
                    <input type="text" class="form-control mb-1" id="otheroepnaccsrextprice" placeholder="extended price"  name="otheroepnaccsrextprice">
                  </div>
                </fieldset>

                <!-- Shipping Cost -->
                <fieldset  class="row sec1 mt-2 mb-2"> 
                 <div class="form-group col-lg-6 col-sm-12">
                   <!--  <label for="shipcost" class="">Shipping Cost</label> -->
                    <input type="text" class="form-control mb-1" id="shipcost" placeholder="Shipping Cost"  name="shipcost">
                  </div>
                <!-- Total -->  
                 <div class="form-group col-lg-6 col-sm-12">
                    <!-- <label for="total" class="">Total</label> -->
                    <input type="text" class="form-control mb-1" id="total" placeholder="Total"  name="total">
                  </div>                                     
                </fieldset>
                <div class="col-lg-12 text-muted">
                <h6>Cancellation Policy:  Refunds not provided in full after 24 hour period due to highly customized production.</h6>
                </div>
                <div class="form-group col-lg-12 text-center m-4">
                <button type="Submit" class="btn btn-primary">Submit</button>
              </div>
              </form>
        </section>
   

{% endblock %}