{% extends "index.html" %}
{% set userNameCurrent=  user %} 
{% block title %}Login{% endblock %}
{% block login %}
<!-- 
<br/><br/><br/><br/><br/>
<h3>Login {{user}}</h3> -->

 <div class="container text-center mt-4 pt-4">
        <h2 class="">Login {{user}}</h2>        
        <div class="row pt-4">
        <div class="col-lg-5 mx-auto bg bg-light p-4">
        <form  method="POST" action="{{url_for('login_attempt')}}"name="wform" >
           
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
              </div>
              <input type="text" class="form-control" id="id" placeholder="Enter username" name="id" aria-label="Username" aria-describedby="inputGroup-sizing-default" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-password">Password</span>
              </div>    
              <input type="password" class="form-control" id="pass" placeholder="Enter password" name="pass"  aria-label="Username" aria-describedby="inputGroup-sizing-password" required>
              <button onclick="toggler(this)" type="button" class="input-group-text rounded-0"><i class="fa fa-eye"></i></button>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <!-- <div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember" required> Remember me
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Check this checkbox to continue.</div>
              </label>
            </div> -->
            <button type="submit" class="btn btn-primary">Login &nbsp;<i class="fa fa-sign-in"></i></button>
        </form>
        </div>
        </div>
    </div>

 


 

{% if user_exists %}
<h4> User Exists </h4>
{% endif %}


<script type="text/javascript">
  function toggler(e) {
  if( e.innerHTML == '<i class="fa fa-eye"></i>' ) {
      e.innerHTML = '<i class="fa fa-eye-slash"></i>'
      document.getElementById('pass').type="text";
  } else {
      e.innerHTML = '<i class="fa fa-eye"></i>'
      document.getElementById('pass').type="password";
  }
}
</script>

{% endblock %}